body {
    background-color: yellow;
}

h1 {
    margin: 6px;
}

.container {
    max-width: 65%;
    margin: auto;
    text-align: center;
}

.parts {
    margin: auto;
    margin-top: 10px;
    border: 3px solid;
    padding: 2%;
    background-color: rgb(235, 240, 244);
}



.table {
    border: 2px solid;
    margin:10px ;
}

.bord {
    border: 3px solid;
    padding: 3px;
}

.float {
    text-align: center;
    margin: auto;
    margin-top: 4px;
}

.form {
    margin: auto;
    text-align: center;
}

.submit {
    text-align:left;
    background-color: rgb(4, 213, 144);
}
div{
    text-align: center;
    text-indent: 1%;
}
